# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfvars
infra/*.tfplan
infra/modules/lambda/*.zip

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
